
/* styles.css or in your scoped style section */
body {
  font-family: 'Open Sans', sans-serif;
}

/* styles.css or in your scoped style section */
:root {
  --primary-color: #3498db; /* Blue */
  --secondary-color: #2ecc71; /* Green */
  --background-color: #ecf0f1; /* Light Grayish Background */
  --text-color: #333; /* Dark Gray Text Color */
}